.jumbotron {
    padding: 30px 0;
    color: #ffffff;
    background-color: rgb(38, 38, 44);
    width: 100%;
    text-align: center;
    border-bottom: 10px solid rgb(206, 15, 9);
    margin-bottom: 10px;
}